* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#titolo-principale {
    color: red;
    font-size: 30px;
    text-align: center;
}

.menu {
    color: rgb(255, 238, 1);
    font-size: 20px;
}

.recipe {
    color: rgb(67, 182, 0);
    font-size: 30px;
    text-align: center;
    margin: -25px auto 15px auto;
}

.image {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    display: block;
}

h3 {
    text-align: center;
    color: darkgreen;
    border: 6px #0921036e;
    border-top-style: solid;
    border-bottom-style: dotted;
    border-left-style: inset;
    border-right-style: inset;
    margin-top: 20px;
    margin-bottom: -5px;
    padding: 8px 0px 8px 0px;
    border-radius: 14px;
}